.Bill_Container {
  animation-name: fadeIn;
  animation: fadeIn 0.7s;
  transition-duration: 0.7s;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  margin-top: -20px
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}